@charset "UTF-8";
/**
 * Theme Name: DMI Theme
 * Author: 502 Media Group
 * Author URI: http://502mediagroup.com/
 * Version: 1.0
 */
/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block; }

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none; }

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

* {
  box-sizing: border-box; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .container:after {
    content: " ";
    display: block;
    clear: both; }

.container--small {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  max-width: 50rem; }
  .container--small:after {
    content: " ";
    display: block;
    clear: both; }

.full-width {
  margin-left: -600em;
  margin-right: -600em;
  padding-left: 600em;
  padding-right: 600em; }

@media (min-width: 46.875em) {
  .four-columns {
    width: 32.2033898305%;
    float: left;
    margin-right: 1.6949152542%; } }

@media (min-width: 46.875em) {
  .four-columns:last-child {
    width: 32.2033898305%;
    float: right;
    margin-right: 0; } }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

label.select-label {
  position: relative; }
  label.select-label:after {
    content: '\f0d7';
    font-family: "FontAwesome", sans-serif;
    position: absolute;
    right: 1em;
    top: 50%;
    color: #FFF;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
  label.select-label select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: 0;
    background: #fe0000;
    background: -webkit-linear-gradient(305deg, #fe0000, #e90202);
    background: linear-gradient(145deg, #fe0000, #e90202);
    color: #FFF;
    padding: 1em 4em 1em 2em;
    border-radius: 100px;
    width: 100%; }

.button, a.button {
  display: inline-block;
  border-radius: 0;
  color: #305b62;
  border: 1px solid #305b62;
  line-height: 1;
  background: transparent;
  padding: .8em 1em;
  text-transform: uppercase;
  box-shadow: none;
  -webkit-appearance: none;
  font-family: "Pridi", Georgia, sans-serif;
  margin: 0 0 1.5rem;
  letter-spacing: 2px;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  text-decoration: none; }
  .button:hover, .button:active, .button:focus, a.button:hover, a.button:active, a.button:focus {
    cursor: pointer;
    background: #305b62;
    color: #FFF; }
  .button.large, a.button.large {
    font-size: 1.25em; }
  .button.small, a.button.small {
    font-size: .75em; }
  .button.white, a.button.white {
    color: #FFF;
    border-color: #FFF; }
    .button.white:hover, .button.white:active, .button.white:focus, a.button.white:hover, a.button.white:active, a.button.white:focus {
      color: #305b62;
      background: #FFF; }

input[type="button"], input[type="reset"], input[type="submit"] {
  display: inline-block;
  border-radius: 0;
  color: #305b62;
  border: 1px solid #305b62;
  line-height: 1;
  background: transparent;
  padding: .8em 1em;
  text-transform: uppercase;
  box-shadow: none;
  -webkit-appearance: none;
  font-family: "Pridi", Georgia, sans-serif;
  margin: 0 0 1.5rem;
  letter-spacing: 2px;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  text-decoration: none; }
  input[type="button"]:hover, input[type="button"]:active, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:active, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:active, input[type="submit"]:focus {
    cursor: pointer;
    background: #305b62;
    color: #FFF; }
  input[type="button"].large, input[type="reset"].large, input[type="submit"].large {
    font-size: 1.25em; }
  input[type="button"].small, input[type="reset"].small, input[type="submit"].small {
    font-size: .75em; }
  input[type="button"].white, input[type="reset"].white, input[type="submit"].white {
    color: #FFF;
    border-color: #FFF; }
    input[type="button"].white:hover, input[type="button"].white:active, input[type="button"].white:focus, input[type="reset"].white:hover, input[type="reset"].white:active, input[type="reset"].white:focus, input[type="submit"].white:hover, input[type="submit"].white:active, input[type="submit"].white:focus {
      color: #305b62;
      background: #FFF; }

button {
  display: inline-block;
  border-radius: 0;
  color: #305b62;
  border: 1px solid #305b62;
  line-height: 1;
  background: transparent;
  padding: .8em 1em;
  text-transform: uppercase;
  box-shadow: none;
  -webkit-appearance: none;
  font-family: "Pridi", Georgia, sans-serif;
  margin: 0 0 1.5rem;
  letter-spacing: 2px;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  text-decoration: none; }
  button:hover, button:active, button:focus {
    cursor: pointer;
    background: #305b62;
    color: #FFF; }
  button.large {
    font-size: 1.25em; }
  button.small {
    font-size: .75em; }
  button.white {
    color: #FFF;
    border-color: #FFF; }
    button.white:hover, button.white:active, button.white:focus {
      color: #305b62;
      background: #FFF; }

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  max-width: 100%; }
  table.scroll {
    display: block;
    overflow-x: scroll;
    position: relative; }
  table thead, table tfoot {
    background: #DEDEDE; }
  table thead, table tbody, table tfoot {
    border: 1px solid #DEDEDE; }
  table th {
    font-weight: bold;
    text-align: left; }
  table th, table td {
    padding: 1em;
    border: none; }
  table tr:nth-child(even) {
    background: #DEDEDE; }

.table-scroll {
  position: relative;
  margin-top: 1.5em;
  margin-bottom: 1.5em; }
  .table-scroll:after, .table-scroll:before {
    content: 'Scroll for more information \f105';
    font-family: "FontAwesome", "Noto Sans", Helvetica, Arial, sans-serif;
    position: absolute;
    right: 0; }
  .table-scroll:after {
    bottom: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%); }
  .table-scroll:before {
    top: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); }

.give-padding {
  padding-left: 1em;
  padding-right: 1em; }

.centered-text {
  text-align: center; }

.align-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center; }
  @media screen and (max-width: 480px) {
    .align-center {
      display: block; } }

.alignright {
  float: right; }

img.aligncenter {
  display: block;
  margin: 1.5em auto;
  clear: both; }

.alignnone {
  float: none;
  display: block;
  width: 100%; }
  .alignnone a.imgwrap {
    display: block; }
  .alignnone img {
    display: block;
    margin: 0 auto; }

img.alignnone {
  display: block;
  clear: both;
  margin: 1.5em auto; }

.alignleft {
  float: left; }

img.alignright {
  padding-left: 1em;
  padding-top: 1em;
  padding-bottom: 1em; }

img.alignleft {
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em; }

.wp-caption {
  background: #DEDEDE;
  padding: 1.5em 1em;
  margin: 1.5rem 0; }
  .wp-caption:after {
    content: "";
    display: table;
    clear: both; }
  .wp-caption .wp-caption-text {
    margin: 0;
    margin-top: 1.5em; }

.full-width {
  margin-left: -50vw;
  margin-right: -50vw;
  padding-left: 50vw;
  padding-right: 50vw;
  overflow: hidden; }

/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }
  .screen-reader-text:focus {
    background-color: #eee;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #333;
    display: block;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */ }

.magnific {
  position: relative;
  background: #FFF;
  padding: 1rem;
  width: 80%;
  max-width: 500px;
  margin: 0 auto; }
  .magnific .mfp-close {
    margin: 0; }

.mfp-content {
  -webkit-animation: slideInUp 350ms 1;
          animation: slideInUp 350ms 1; }

.mfp-close {
  border: none;
  border-radius: 0;
  box-shadow: none; }
  .mfp-close:hover {
    box-shadow: none; }

.mfp-bg.mfp-removing {
  opacity: 0;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear; }

.mfp-wrap.mfp-removing .mfp-content {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear; }

@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100vh, 0);
            transform: translate3d(0, 100vh, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }

@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100vh, 0);
            transform: translate3d(0, 100vh, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }

.slideInUp {
  -webkit-animation-name: slideInUp;
          animation-name: slideInUp; }

[class^="tooltip"] {
  position: relative; }
  [class^="tooltip"]:after {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    content: attr(data-tooltip);
    padding: 6px 10px;
    bottom: -3.3em;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-2px);
            transform: translateX(-50%) translateY(-2px);
    background: #212224;
    color: white;
    white-space: nowrap;
    z-index: 2;
    border-radius: 2px;
    -webkit-transition: opacity 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), -webkit-transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: opacity 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), -webkit-transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: opacity 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: opacity 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), -webkit-transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1); }
  [class^="tooltip"]:hover:after {
    display: block;
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(-50%) translateY(0);
            transform: translateX(-50%) translateY(0); }

.tooltip-triangle:before {
  content: '';
  width: 0;
  height: 0;
  border-left: solid 5px transparent;
  border-right: solid 5px transparent;
  border-bottom: solid 5px #212224;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  -webkit-transform: translateX(-50%) translateY(-2px);
          transform: translateX(-50%) translateY(-2px);
  bottom: -1.1em;
  left: 50%;
  -webkit-transition: opacity 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), -webkit-transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: opacity 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), -webkit-transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: opacity 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: opacity 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), -webkit-transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
  z-index: 3; }

.tooltip-triangle:hover:before {
  display: block;
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateX(-50%) translateY(0);
          transform: translateX(-50%) translateY(0); }

html, body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Noto Sans", Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  color: #305b62; }

body {
  background: url("static/images/brickwall.png"); }

h1, h2, h3, h4, h5, h6 {
  font-family: "Pridi", Georgia, sans-serif; }

img {
  max-width: 100%;
  height: auto; }

.article-wrapper {
  max-width: 50em;
  margin: 0 auto;
  padding: 0 1em; }
  .article-wrapper:after {
    content: "";
    display: table;
    clear: both; }

blockquote {
  border-left: 4px solid #333333;
  background: #DEDEDE;
  margin: 0;
  padding: 1.5rem 2rem 0;
  line-height: 1.5;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }
  blockquote:after {
    content: "";
    display: table;
    clear: both; }

p {
  margin: auto auto 1.5rem; }

a {
  color: #212224;
  text-decoration: underline;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear; }
  a:hover {
    color: #333333; }
  a.imgwrap {
    border: none; }

ul,
ol {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

ul li,
ol li {
  line-height: 1.5; }

ul ul,
ol ul,
ul ol,
ol ol {
  margin-top: 0;
  margin-bottom: 0; }

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1.5rem;
  line-height: 1.5rem;
  margin-top: 0;
  font-weight: 400; }

h1, .h1 {
  font-size: 4.242rem;
  line-height: 4.5rem;
  margin-bottom: 2rem; }

h2, .h2 {
  font-size: 2.828rem;
  line-height: 3rem;
  margin-bottom: 2rem; }

h3, .h3 {
  font-size: 1.414rem; }

h4, h5, h6 {
  font-size: 1rem;
  margin-bottom: 1.5rem; }

/* Code blocks */
code {
  vertical-align: bottom; }

/* Hug the block below you */
.hug {
  margin-bottom: 0; }

#header {
  padding: 1em 0; }
  #header .logo-social {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
            align-items: center; }
  #header .social {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
            flex: 1;
    text-align: right; }
    #header .social .fa {
      margin: 0 .5em;
      padding: .25em; }
  #header .logo {
    display: block;
    background-image: url("static/images/logo-black.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    height: 6em;
    max-width: 12em;
    margin-bottom: 2em;
    margin-top: 2em;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 100%;
            flex: 1 1 100%; }
    #header .logo-link {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: block;
      border: none; }
  #header #menu-toggle {
    display: block;
    margin-left: auto;
    background: none;
    font-size: 1.5em;
    padding: 0;
    border-radius: 0;
    margin: 0 0 .25em auto;
    box-shadow: none; }
    @media (min-width: 53.75em) {
      #header #menu-toggle {
        display: none; } }
  #header #nav-main {
    background: #212224;
    color: #FFF;
    border-bottom: 0.5em solid #48b4d1;
    position: relative;
    z-index: 10;
    margin-bottom: 2em; }
    #header #nav-main:after {
      content: "";
      display: table;
      clear: both; }
    #header #nav-main .toggle-sub-menu {
      margin: 0;
      padding: 0;
      border: 1px solid #48b4d1;
      padding: 0 .25em;
      margin-left: .25em;
      outline: none; }
      #header #nav-main .toggle-sub-menu:hover {
        background: transparent; }
      #header #nav-main .toggle-sub-menu:after {
        content: '\f0d7';
        display: inline;
        color: #48b4d1;
        font-family: 'FontAwesome';
        left: 1px;
        position: relative; }
      #header #nav-main .toggle-sub-menu:active .sub-menu-wrap, #header #nav-main .toggle-sub-menu:focus .sub-menu-wrap {
        opacity: 1;
        -webkit-transform: scaleY(1);
                transform: scaleY(1); }
    #header #nav-main ul {
      margin: 0;
      padding: 0;
      list-style: none; }
      #header #nav-main ul li {
        display: inline-block;
        margin-right: 1em; }
        #header #nav-main ul li > .sub-menu {
          display: none; }
        #header #nav-main ul li:hover .sub-menu-wrap, #header #nav-main ul li.open .sub-menu-wrap {
          opacity: 1;
          -webkit-transform: scaleY(1);
                  transform: scaleY(1); }
        #header #nav-main ul li a {
          display: inline-block;
          color: #48b4d1;
          text-decoration: none;
          padding: .5em .5em; }
          @media (min-width: 21.25em) {
            #header #nav-main ul li a {
              font-size: 1.25em; } }
    #header #nav-main .sub-menu-wrap {
      opacity: 0;
      position: absolute;
      top: 100%;
      left: 0;
      background: #48b4d1;
      width: 100vw;
      padding: 0 1em;
      -webkit-transition: all .125s linear;
      transition: all .125s linear;
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      z-index: 5; }
      #header #nav-main .sub-menu-wrap:after {
        content: "";
        display: table;
        clear: both; }
      #header #nav-main .sub-menu-wrap > .sub-menu {
        display: block;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto; }
        #header #nav-main .sub-menu-wrap > .sub-menu:after {
          content: " ";
          display: block;
          clear: both; }
      #header #nav-main .sub-menu-wrap li {
        float: left;
        white-space: nowrap; }
        #header #nav-main .sub-menu-wrap li:after {
          content: "";
          display: table;
          clear: both; }
      #header #nav-main .sub-menu-wrap a {
        color: #FFF;
        white-space: nowrap; }

.search-form {
  display: inline-block; }
  .search-form input[type="submit"] {
    padding: .35em 1em;
    vertical-align: top; }

#footer {
  background: #212224;
  color: #FFF;
  padding-top: 4em;
  padding-bottom: 1em; }
  #footer a {
    color: #FFF;
    text-decoration: none; }
  #footer .footer-logo {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0; }
    @media (min-width: 21.25em) {
      #footer .footer-logo {
        width: 49.1525423729%;
        float: left;
        margin-right: 1.6949152542%;
        padding-right: 1em; } }
    @media (min-width: 46.875em) {
      #footer .footer-logo {
        width: 32.2033898305%;
        float: left;
        margin-right: 1.6949152542%; } }
    @media (min-width: 62.5em) {
      #footer .footer-logo {
        width: 15.2542372881%;
        float: left;
        margin-right: 1.6949152542%; } }
    #footer .footer-logo img {
      display: block;
      width: 100%;
      max-width: 200px; }
  #footer .footer-contact {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2em; }
    @media (min-width: 21.25em) {
      #footer .footer-contact {
        margin-top: 0;
        width: 49.1525423729%;
        float: right;
        margin-right: 0;
        border-left: 1px solid #FFF;
        padding-left: 2em; } }
    @media (min-width: 46.875em) {
      #footer .footer-contact {
        width: 23.7288135593%;
        float: left;
        margin-right: 1.6949152542%; } }
    #footer .footer-contact .company {
      font-weight: 700; }
    #footer .footer-contact address {
      font-style: normal; }
  #footer .social {
    margin-top: .5em; }
    #footer .social .link + .link {
      margin-left: 1em; }
    #footer .social .fa {
      width: 1.5em;
      height: 1.5em;
      text-align: center;
      background: #FFF;
      color: #212224;
      position: relative;
      line-height: 1.5em; }
    #footer .social .fa-facebook:before {
      position: relative;
      top: 2px;
      left: 2px;
      font-size: 18px; }

.footer-org-photos {
  background: #305b62;
  width: 100%;
  padding: 4em 1em; }
  .footer-org-photos .org-photos-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
            align-items: center;
    width: 100%;
    -webkit-justify-content: space-around;
            justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap; }
    @media (min-width: 46.875em) {
      .footer-org-photos .org-photos-container {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
                flex-direction: row;
        -webkit-flex-wrap: nowrap;
                flex-wrap: nowrap; } }
  .footer-org-photos .spacer {
    width: 1px;
    display: inline-block;
    background: #FFF;
    height: 8em; }
  .footer-org-photos img {
    margin: 2em 0; }
    @media (min-width: 46.875em) {
      .footer-org-photos img {
        width: 75%; } }
  @media (min-width: 46.875em) {
    .footer-org-photos .imax-logo {
      width: 55%; } }

.footer-call-to-actions {
  color: #FFF;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
          align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column; }
  @media (min-width: 46.875em) {
    .footer-call-to-actions {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
              flex-direction: row; } }
  .footer-call-to-actions .column {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
            flex: 0 0 50%;
    padding-top: 2em;
    padding-bottom: 2em; }
    @media (min-width: 46.875em) {
      .footer-call-to-actions .column {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
                flex-direction: row;
        width: 50%; } }
  .footer-call-to-actions .inside-wrap {
    width: 100%;
    padding-left: 1em;
    padding-right: 1em; }
    @media (min-width: 46.875em) {
      .footer-call-to-actions .inside-wrap {
        max-width: 600px; } }
  .footer-call-to-actions .title {
    font-size: 1.5em;
    line-height: 1.5;
    margin-bottom: .5em; }
  .footer-call-to-actions .newsletter {
    background: #48b4d1; }
    @media (min-width: 46.875em) {
      .footer-call-to-actions .newsletter .inside-wrap {
        float: right; } }
    .footer-call-to-actions .newsletter .gform_wrapper form.gf_simple_horizontal div.gform_body {
      width: 100%; }
      @media (min-width: 40.0625em) {
        .footer-call-to-actions .newsletter .gform_wrapper form.gf_simple_horizontal div.gform_body {
          max-width: 72%; } }
      .footer-call-to-actions .newsletter .gform_wrapper form.gf_simple_horizontal div.gform_body .gfield {
        width: 100% !important;
        padding-right: 0; }
        .footer-call-to-actions .newsletter .gform_wrapper form.gf_simple_horizontal div.gform_body .gfield input {
          line-height: 1.75em; }
    @media (min-width: 40.0625em) {
      .footer-call-to-actions .newsletter .gform_footer {
        max-width: 23%; } }
    .footer-call-to-actions .newsletter .gform_button {
      color: #FFF;
      border-color: #FFF; }
      .footer-call-to-actions .newsletter .gform_button:hover, .footer-call-to-actions .newsletter .gform_button:active, .footer-call-to-actions .newsletter .gform_button:focus {
        color: #305b62;
        background: #FFF; }
  .footer-call-to-actions .visitors-guide {
    background: #305b62; }

.footer-helpful-links {
  clear: both;
  padding: 2em 0; }
  @media (min-width: 46.875em) {
    .footer-helpful-links {
      float: right;
      clear: none;
      padding: 0; } }
  .footer-helpful-links .helpful-links-menu-title {
    font-weight: 700; }
  .footer-helpful-links ul.menu {
    list-style: none;
    margin: 0;
    padding: 0; }

.agency {
  margin-top: 2em; }

.sticky-maps {
  background: #97be54;
  color: #FFF;
  position: fixed;
  top: 50vh;
  left: 0;
  padding: 1em 1em;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  width: 8em;
  z-index: 100; }
  .sticky-maps.open {
    top: 20vh;
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  .sticky-maps .tab {
    position: absolute;
    left: 5.25em;
    top: 1em;
    font-family: "Pridi", Georgia, sans-serif;
    letter-spacing: 2px;
    font-size: 1.25em;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    background: #97be54;
    padding: .25em .65em .2em;
    cursor: pointer; }
  .sticky-maps .link-wrapper {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #FFF; }
    .sticky-maps .link-wrapper + .link-wrapper {
      margin-top: 1em; }
  .sticky-maps .circle {
    display: block;
    text-decoration: none;
    width: 4em;
    height: 4em;
    background: #FFF;
    border-radius: 50%;
    margin: 0 auto; }

.shop-eat-stay {
  padding: 4em 1em; }
  .shop-eat-stay .four-columns {
    text-align: center; }
  .shop-eat-stay .icon-logo {
    max-width: 5em;
    margin: 0 auto; }
    .shop-eat-stay .icon-logo img {
      display: block; }
  .shop-eat-stay .section-title {
    font-size: 2em;
    font-family: "Pridi", Georgia, sans-serif; }
    .shop-eat-stay .section-title a {
      text-decoration: none;
      color: #305b62; }
  .shop-eat-stay .section-description {
    max-width: 90%;
    margin: 0 auto; }

.business-logo-wrapper {
  background: #FFF;
  padding-bottom: 4em;
  padding-top: 4em;
  margin-top: -4em; }

.business-logo {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .business-logo:after {
    content: " ";
    display: block;
    clear: both; }
  .business-logo img {
    max-width: 20em;
    margin: 0 auto;
    padding: 0;
    display: block;
    padding: 1em; }

.business-title, .job-title, .realestate-title {
  padding: 0em 1em;
  text-align: left;
  font-size: 2.5em;
  margin: 0;
  color: #FFF;
  background: #305b62;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  max-width: 65rem;
  margin-top: -1em; }
  .business-title:after, .job-title:after, .realestate-title:after {
    content: " ";
    display: block;
    clear: both; }

.single-business .post-type-business, .single-job .post-type-job, .single-realestate .post-type-realestate {
  padding-bottom: 4em;
  border-top: 0.5em solid #48b4d1;
  background: url("static/images/coles.jpg");
  background-size: cover;
  background-position: center center; }

.single-job .post-type-job, .single-realestate .post-type-realestate {
  border-top: none;
  padding-top: 8em;
  margin-top: -4em; }
  .single-job .post-type-job .job-about, .single-job .post-type-job .realestate-about, .single-realestate .post-type-realestate .job-about, .single-realestate .post-type-realestate .realestate-about {
    width: 100%; }

.tease-job .job-thumbnail {
  max-width: 50px;
  margin-right: 1rem; }

.business-details, .job-details, .realestate-details {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  max-width: 60rem;
  margin: 0 auto;
  background: #48b4d1;
  padding: 2em;
  color: #FFF; }
  .business-details:after, .job-details:after, .realestate-details:after {
    content: " ";
    display: block;
    clear: both; }
  .business-details .details-title, .job-details .details-title, .realestate-details .details-title {
    font-family: "Pridi", Georgia, sans-serif;
    border-bottom: 1px solid #FFF;
    width: 98%;
    margin-bottom: .5em;
    font-size: 1.25em; }
  .business-details a, .job-details a, .realestate-details a {
    color: #FFF; }

@media (min-width: 46.875em) {
  .business-about, .job-about, .realestate-about {
    width: 40.6779661017%;
    float: left;
    margin-right: 1.6949152542%; } }

@media (min-width: 46.875em) {
  .three-columns {
    width: 23.7288135593%;
    float: left;
    margin-right: 1.6949152542%; } }

@media (min-width: 46.875em) {
  .business-map {
    width: 32.2033898305%;
    float: right;
    margin-right: 0; } }

.business-hours .time {
  margin-bottom: 1em; }

.business-contact .fa {
  text-decoration: none;
  font-size: 1.25em; }

.business-contact .website {
  word-break: break-all; }

.business-contact .social-media-links {
  margin-top: 1em; }

.tax-business_category .tease.tease-business, .tease.tease-job, .tease.tease-realestate {
  padding: .5em .25em;
  border: none;
  box-shadow: none;
  border-bottom: 2px solid #212224;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap; }
  @media (min-width: 46.875em) {
    .tax-business_category .tease.tease-business, .tease.tease-job, .tease.tease-realestate {
      -webkit-flex-wrap: nowrap;
              flex-wrap: nowrap; } }
  .tax-business_category .tease.tease-business + .tease, .tease.tease-job + .tease, .tease.tease-realestate + .tease {
    margin-top: 1em; }
  .tax-business_category .tease.tease-business .h2, .tease.tease-job .h2, .tease.tease-realestate .h2 {
    margin: 0;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
            flex: 1 0 auto;
    font-size: 1.5em;
    line-height: 1; }
    @media (min-width: 46.875em) {
      .tax-business_category .tease.tease-business .h2, .tease.tease-job .h2, .tease.tease-realestate .h2 {
        width: 75%; } }
    .tax-business_category .tease.tease-business .h2 a, .tease.tease-job .h2 a, .tease.tease-realestate .h2 a {
      text-decoration: none; }
      .tax-business_category .tease.tease-business .h2 a:hover, .tease.tease-job .h2 a:hover, .tease.tease-realestate .h2 a:hover {
        color: #48b4d1; }
  .tax-business_category .tease.tease-business .business-terms, .tease.tease-job .business-terms, .tease.tease-realestate .business-terms {
    width: 100%; }
    @media (min-width: 46.875em) {
      .tax-business_category .tease.tease-business .business-terms, .tease.tease-job .business-terms, .tease.tease-realestate .business-terms {
        width: 25%;
        text-align: right; } }
    .tax-business_category .tease.tease-business .business-terms a, .tease.tease-job .business-terms a, .tease.tease-realestate .business-terms a {
      font-size: 75%;
      background: #ddd;
      padding: 4px;
      border-radius: 6px;
      text-decoration: none;
      display: inline-block;
      margin: 1px 2px; }
      .tax-business_category .tease.tease-business .business-terms a:hover, .tease.tease-job .business-terms a:hover, .tease.tease-realestate .business-terms a:hover {
        background: #ccc; }

.business-cat-title {
  background: #305b62;
  line-height: 1;
  color: #FFF;
  padding: .25em .5em;
  margin: 0 auto;
  max-width: 50rem;
  box-shadow: 0 2rem 1rem -1rem rgba(33, 34, 36, 0.5);
  margin-bottom: 2rem; }

.business-cat-hero {
  height: 300px;
  width: 100%;
  background-size: cover;
  background-position: center center;
  margin-top: -3rem;
  margin-bottom: -3.5rem;
  border-bottom: 0.5em solid #48b4d1; }

.business-cards {
  -webkit-justify-content: space-around;
          justify-content: space-around; }
  .business-cards .card {
    margin-bottom: 2rem; }
  .business-cards .extra-block.card {
    -webkit-box-align: center;
    -webkit-align-items: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
    background: none; }

#tinymce.wp-editor {
  padding: 1em !important;
  max-width: 50em;
  margin: 0 auto;
  background: none; }

.tease {
  border: 1px solid #DEDEDE;
  box-shadow: 0 4px 8px rgba(33, 34, 36, 0.36);
  padding: 1em; }
  .tease + .tease {
    margin-top: 4em; }
  .tease .emphasized-heading a {
    border: none; }

.term-list {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0; }
  .term-list li {
    display: inline-block; }

.pagination {
  text-align: center;
  margin: 4em 0; }
  .pagination .pages {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none; }
    .pagination .pages li {
      display: inline-block; }
      .pagination .pages li + li {
        margin-left: 1em; }
      .pagination .pages li a {
        display: inline;
        padding: 0 .25em; }
  .pagination .next {
    margin-left: 1em; }

.pagination:empty {
  display: none; }

.comments {
  margin-top: 4em; }

#commentform label {
  display: block; }

#commentform input, #commentform textarea {
  width: 100%;
  display: block; }

#commentform .comment-form-comment label, #commentform textarea {
  display: block; }

#commentform .required {
  color: #fe0000; }

#commentform .comment-form-url {
  display: none; }

.home-hero-slider {
  position: relative;
  margin-bottom: 4em;
  margin-top: -3em; }
  .home-hero-slider .image-slider {
    border-bottom: 4px solid #48b4d1; }
    .home-hero-slider .image-slider .slide {
      height: 100vw;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat; }
      @media (min-width: 46.875em) {
        .home-hero-slider .image-slider .slide {
          height: 50vw; } }
      @media (min-width: 60em) {
        .home-hero-slider .image-slider .slide {
          height: 50vh; } }
  .home-hero-slider .banner-slider {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    color: #FFF;
    text-align: center;
    font-size: 2em;
    font-family: "Pridi", Georgia, sans-serif;
    margin-top: -.85em; }
    .home-hero-slider .banner-slider:after {
      content: " ";
      display: block;
      clear: both; }
    .home-hero-slider .banner-slider .slide {
      background: #305b62;
      line-height: 1;
      padding: .25em 1em; }
    @media (min-width: 46.875em) {
      .home-hero-slider .banner-slider {
        font-size: 4em; } }

.home-intro {
  color: #305b62;
  margin-top: 8em;
  margin-bottom: 4em; }
  .home-intro .cta-image {
    width: 49.1525423729%;
    float: right;
    margin-right: 0; }
  @media (min-width: 46.875em) {
    .home-intro .content {
      width: 49.1525423729%;
      float: left;
      margin-right: 1.6949152542%; } }
  .home-intro .section-title {
    margin-bottom: 1rem; }
  @media (min-width: 46.875em) {
    .home-intro .icons-wrapper {
      width: 49.1525423729%;
      float: right;
      margin-right: 0; } }
  .home-intro .icons {
    display: block;
    text-align: center;
    margin: 0 auto; }
  .home-intro .icon {
    display: inline-block;
    width: 18%;
    margin: 0 1em 1em; }
    .home-intro .icon > a {
      display: block; }
    .home-intro .icon img {
      display: block;
      margin: 0 auto;
      width: 4em;
      height: 4em;
      box-shadow: 0 0.25em 0.5em 0 #212224;
      border-radius: 50%; }

.home-featured-events {
  padding: 4em 1em; }
  .home-featured-events .section-title {
    font-family: "Pridi", Georgia, sans-serif;
    font-size: 2em;
    border-bottom: 4px solid #305b62;
    color: #FFF;
    letter-spacing: 3px;
    line-height: 1;
    box-shadow: 0 1rem 1rem -1rem rgba(33, 34, 36, 0.5); }
    .home-featured-events .section-title span {
      display: inline-block;
      background: #305b62;
      padding: .25em .5em;
      min-width: 40%; }
  .home-featured-events .cards.slick-slider {
    display: block; }
  .home-featured-events .card {
    width: 30%;
    margin-right: 1em;
    margin-left: 1em; }
    .home-featured-events .card .info .button.event-link {
      margin-left: 2em; }
  .home-featured-events .slick-list {
    /*
		&:before {
			content: '';
			background: url('static/images/brickwall.png');
			position: absolute;
			left: 0;
			top: 0;
			width: 100vw;
			height: 100%;
			transform-origin: left center;
			transform: rotate(180deg);
			z-index: 20;
		}

		&:after {
			content: '';
			background: linear-gradient( to right, url('static/images/brickwall.png') 80%, transparent );
			position: absolute;
			right: 0;
			top: 0;
			width: calc(100vw - 1200px);
			height: 100%;
			transform-origin: right center;
			transform: rotate(180deg);
			z-index: 20;
		}
	*/ }
  .home-featured-events .slick-arrow {
    z-index: 30; }
    .home-featured-events .slick-arrow:before {
      font-size: 48px;
      font-family: 'FontAwesome';
      color: #48b4d1; }
    .home-featured-events .slick-arrow.slick-next {
      right: -1rem; }
      .home-featured-events .slick-arrow.slick-next:before {
        content: '\f105'; }
    .home-featured-events .slick-arrow.slick-prev {
      left: -1rem; }
      .home-featured-events .slick-arrow.slick-prev:before {
        content: '\f104'; }

.home-featured-businesses {
  position: relative;
  padding: 6em 1em;
  background: url("static/images/5th-street.jpg");
  background-size: cover;
  background-position: center center; }
  .home-featured-businesses:before {
    content: '';
    background: rgba(33, 34, 36, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0; }
  .home-featured-businesses > * {
    position: relative;
    z-index: 1; }
  .home-featured-businesses .section-title {
    font-family: "Pridi", Georgia, sans-serif;
    font-size: 2em;
    border-bottom: 4px solid #48b4d1;
    color: #FFF;
    letter-spacing: 3px;
    line-height: 1;
    box-shadow: 0 1rem 1rem -1rem rgba(33, 34, 36, 0.5); }
    .home-featured-businesses .section-title span {
      display: inline-block;
      background: #48b4d1;
      padding: .25em .5em;
      min-width: 40%; }

.home-featured-businesses .cards .card {
  background-position: top center;
  background-size: 65%; }

.cards {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap; }
  .cards .card {
    width: 100%;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 100%;
            flex: 1 0 100%;
    min-height: 20em;
    background: #FFF;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
            align-items: flex-end;
    color: #FFF;
    background-position: top center;
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
    .cards .card + .card {
      margin-top: 2em; }
    @media (min-width: 46.875em) {
      .cards .card {
        max-width: 30%;
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 30%;
                flex: 1 0 30%; }
        .cards .card + .card {
          margin-top: 0; } }
    .cards .card.active {
      -webkit-box-align: stretch;
      -webkit-align-items: stretch;
              align-items: stretch; }
      .cards .card.active .info .content {
        display: block; }
    .cards .card .info {
      width: 100%;
      background: rgba(72, 180, 209, 0.9);
      padding: .5em;
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
              flex-direction: column; }
      .cards .card .info .title {
        font-family: "Pridi", Georgia, sans-serif;
        font-size: 1.5em;
        margin-bottom: .25em; }
      .cards .card .info .content {
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 auto;
                flex: 1 0 auto;
        width: 100%;
        display: none; }
      .cards .card .info button, .cards .card .info .button {
        margin: 0;
        vertical-align: bottom;
        display: inline-block; }
      .cards .card .info .button.business-link {
        margin-left: 2em; }
  .cards .button-wrap {
    vertical-align: bottom; }

.home-call-to-actions {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4em;
  margin-bottom: 4em; }
  .home-call-to-actions:after {
    content: " ";
    display: block;
    clear: both; }
  .home-call-to-actions .cta {
    padding: 0 2em;
    text-align: center;
    color: #305b62; }
    .home-call-to-actions .cta:after {
      content: "";
      display: table;
      clear: both; }
    .home-call-to-actions .cta + .cta {
      margin-top: 2em; }
      @media (min-width: 46.875em) {
        .home-call-to-actions .cta + .cta {
          margin-top: 0; } }
    @media (min-width: 46.875em) {
      .home-call-to-actions .cta {
        width: 32.2033898305%;
        float: left;
        margin-right: 1.6949152542%; }
        .home-call-to-actions .cta:last-child {
          width: 32.2033898305%;
          float: right;
          margin-right: 0; } }
    .home-call-to-actions .cta .icon img {
      width: 4em;
      height: 4em; }
    .home-call-to-actions .cta .title {
      font-size: 1.5em;
      font-family: "Pridi", Georgia, sans-serif;
      text-decoration: none;
      border: none;
      color: #305b62;
      display: block; }

.fotn-logo {
  margin: 0 auto; }
  .fotn-logo h2.section-title {
    font-size: 3rem; }

#tribe-events .tribe-events-tooltip .tribe-events-event-thumb {
  display: block;
  float: none;
  text-align: center; }

body.search .tease {
  border: 1px solid #DEDEDE;
  box-shadow: 0 4px 8px rgba(33, 34, 36, 0.36);
  padding: 1em;
  display: block;
  background: #FFF; }
  body.search .tease .h2 {
    font-size: 1.5em;
    margin-bottom: 1em;
    line-height: 1.5;
    width: 100%; }
    body.search .tease .h2 a {
      text-decoration: none; }
  body.search .tease + .tease {
    margin-top: 4rem; }
/*# sourceMappingURL=style.css.map */