{% extends "base.twig" %}

{% block content %}
	<h1 class="business-cat-title">Work Here</h1>
	{% for post in posts %}
		{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
	{% endfor %}
	{% include "pagination.twig" %}
{% endblock %}