{% block html_head_container %}
	{% include 'html-header.twig' %}
	{% block head %}
		{# Include extra stuff in the document head #}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
		
		<div id="vue-wrapper">
		
			{% block header %}
				{% include 'header.twig' %}
			{% endblock %}

			<section id="content" role="main" class="content-wrapper">
				<div class="main-column {{sidebar_class}}">
					{% block content %}
						Sorry, no content
					{% endblock %}
				</div>
				{% if sidebar %}
					<aside class="layout-sidebar">
						{{sidebar}}
					</aside>
				{% endif %}
			</section>
			
			{% block shop_eat_stay %}
				<!-- base.twig -->
				{# <div class="shop-eat-stay container">
					<div class="four-columns">
						<div class="icon-logo"><img src="{{ theme.link }}/static/images/icons/shop.png"/></div>
						<div class="section-title"><a href="/categories/shop/">Shop</a></div>
						<p class="section-description">From clothes to home goods, find great shopping downtown.</p>
					</div>
					<div class="four-columns">
						<div class="icon-logo"><img src="{{ theme.link }}/static/images/icons/eat-drink.png"/></div>
						<div class="section-title"><a href="/categories/eat-drink/">Eat &amp; Drink</a></div>
						<p class="section-description">Whether you are looking for an evening out, a quick lunch, or drinks with friends, you can find it here.</p>
					</div>
					<div class="four-columns">
						<div class="icon-logo"><img src="{{ theme.link }}/static/images/icons/stay.png"/></div>
						<div class="section-title"><a href="/categories/stay/">Stay</a></div>
						<p class="section-description">Don't let the fun end too soon! Stay overnight in one of our accommodating hotels.</p>
					</div>
				</div> #}
				{# <div class="shop-eat-stay container">
					<div class="fotn-logo centered-text">
						<p><img src="{{ theme.link }}/static/images/fotn-logo.png" /></p>
						<p><a href="{{ TimberPost(home_id).get_field('fotn_link') }}" class="button">Learn More</a></p>
					</div>
				</div> #}
			{% endblock %}

			{% block footer %}
				{% include 'footer.twig' %}
			{% endblock %}
			
			<div id="results-popup" class="magnific mfp-hide"></div>
		
		</div> <!-- #vue-wrapper -->
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
		{{ function('wp_footer') }}
	</body>
</html>
