{% extends "base.twig" %}

{% block content %}
	{% if post.thumbnail %}
		<div class="business-cat-hero" style="background-image: url({{ TimberImage( post.thumbnail ).src }});"></div>
	{% endif %}
	<h1 class="business-cat-title">{{ post.title }}</h1>
	{% if post.content %}
		<div class="container--small">{{ post.content }}</div>
	{% endif %}
	<div class="container">
		<div class="cards business-cards">
		{% for card in post.get_field('cards') %}
			<div class="card" style="background-image: url('{{ TimberImage( card.image ).src('large') }}')">
				<div class="info">
					{# <p class="content">{{ card.get_preview(30, false, false) }}</p> #}
					<div class="button-wrap">
						<div class="title">{{ card.title }}</div>
						{# <button class="toggle-card white small">{{ card.name }}</button> #}
						<a href="{{ card.link }}" class="button white small">See List <span class="fa fa-angle-right"></span></a>
					</div>
				</div>
			</div>
		{% endfor %}
		</div>
	</div>
{% endblock %}