{% extends "base.twig" %}

{% block content %}
	{% if current_term.meta('image') %}
		<div class="business-cat-hero" style="background-image: url({{ TimberImage(current_term.meta('image')).src }});"></div>
	{% endif %}
	<h1 class="business-cat-title">{{ current_term.name }}</h1>
	{% if current_term.description %}
		<p class="container--small">{{ current_term.description }}</p>
	{% endif %}
	<div class="container">
		<div class="cards business-cards">
		{% for term in terms %}
			<div class="card" style="background-image: url('{{ TimberImage(term.meta('image')).src('large') }}')">
				<div class="info">
					{# <p class="content">{{ term.get_preview(30, false, false) }}</p> #}
					<div class="button-wrap">
						<div class="title">{{ term.name }}</div>
						{# <button class="toggle-card white small">{{ term.name }}</button> #}
						<a href="{{ term.link }}" class="button white small">See List <span class="fa fa-angle-right"></span></a>
					</div>
				</div>
			</div>
		{% endfor %}
		{% for image in current_term.get_field('extra_block_images') %}
			<div class="card extra-block">
				<img src="{{ TimberImage(image).src }}" />
			</div>
		{% endfor %}
		</div>
	</div>
{% endblock %}