{% extends "base.twig" %}

{% block content %}
	{% if current_term.meta('image') %}
		<div class="business-cat-hero" style="background-image: url({{ TimberImage(current_term.meta('image')).src }});"></div>
	{% endif %}
	<h1 class="business-cat-title">{{ current_term.name }}</h1>
	{% for post in posts %}
		{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
	{% endfor %}
	{% include "pagination.twig" %}
{% endblock %}