{% extends "base.twig" %}

{% block content %}
	{% if post.get_field('logo') %}
		<div class="business-logo-wrapper">
			<div class="business-logo">
				<img src="{{ TimberImage(post.get_field('logo')).src }}" />
			</div>
		</div>
	{% endif %}
		<article class="post-type-{{post.post_type}} " id="post-{{post.ID}}">
			<h1 class="business-title">{{ post.title }}</h1>
			<div class="business-details content-wrapper">
				<div class="business-about">
					<div class="details-title">About {{ post.title }}</div>
					{{ post.content }}
				</div>
				<div class="three-columns">
					{% if post.get_field('hours') is not empty %}
					<div class="business-hours">
						<div class="details-title">Hours</div>
						{% for hours in post.get_field('hours') %}
							<div class="days"><strong>{{ hours.day }}</strong></div>
							<div class="time">{{ hours.time }}</div>
						{% endfor %}
					</div>
					{% endif %}
					<div class="business-contact">
						<div class="details-title">Contact &amp; Location</div>
						<address>
							{{ post.get_field('address') }},
							Manhattan, KS 66502
						</address>
						<a href="tel:{{ post.get_field('phone') }}">{{ post.get_field('phone') }}</a>
						<br>
						<a class="website" href="{{ post.get_field('website') }}" target="_blank">{{ post.get_field('website') }}</a>
						<br>
						<div class="social-media-links">
						{% for social in post.get_field('social_media_links') %}
							<a href="{{ social.url }}" class="fa fa-{{ social.social_media_site|lower }} fa-{{ social.social_media_site|lower }}-square">&nbsp;</a>
						{% endfor %}
						</div>
					</div>
				</div>
				<div class="business-map">
  					<iframe src="//www.google.com/maps/embed/v1/place?q={{ url_business }}&zoom=17&key=AIzaSyA3rShUTbAr92w86AY1tRq0VwXtEl1cq8U" width="100%" height="250px"></iframe>
				</div>
			</div>
		</article>
{% endblock %}