<div class="footer-call-to-actions clearfix">
	<div class="footer-org-photos">
		<div class="container org-photos-container">
			<div style="width: 50%; text-align: center;">
				<a href="http://www.flinthillsdiscovery.org/" style="display: block;" target="_blank" ref="nofollow noreferrer">
					<img src="{{ theme.link }}/static/images/fhdc-logo.png"; />
				</a>
			</div>
			{# <span class="spacer"></span> #}
			<div style="width: 50%; text-align: center;">
				<a href="https://www.amctheatres.com/movie-theatres/topeka-ks/amc-dine-in-manhattan-13" style="display: block;" target="_blank" ref="nofollow noreferrer">
					<img class="imax-logo" src="{{ theme.link }}/static/images/amc-imax-logo.png"; />
				</a>
			</div>
		</div>
	</div>
	{# <section class="column newsletter give-padding clearfix">
		<div class="inside-wrap">
			<h2 class="title">Get Connected</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			<div class="sign-up-form">
				{{ newsletter_form }}
			</div>
		</div>
	</section>

	<section class="column visitors-guide give-padding clearfix">
		<div class="inside-wrap">
			<h2 class="title">Request A Visitor's Guide</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
			<div><a href="#" class="button white">Request Now</a></div>
		</div>
	</section> #}
</div>
<footer id="footer" class="give-padding">
	<div class="container">
		<div class="footer-logo">
			<img src="{{ logo }}" class="logo" />
		</div>
		<div class="footer-contact">
			<address>
				<span class="company">Downtown Manhattan Inc.</span><br>
				323 Poyntz Avenue, Suite 101<br>
				Manhattan, KS 66502
			</address>
			<div><a class="tel" href="tel:785-537-9683">(785) 537-9683</a></div>
			<div class="social">
				<a href="https://www.facebook.com/Downtown-Manhattan-Inc-117350023923/" target="_blank" class="link"><span class="fa fa-facebook"></span></a>
				<a href="https://twitter.com/downtownmhk" target="_blank" class="link"><span class="fa fa-twitter"></span></a>
			</div>
		</div>
		<div class="footer-helpful-links">
			<div class="helpful-links-menu-title">Helpful Links</div>
			{{ function('dmi_render_helpful_links_menu') }}
		</div>
	</div>
	{# <div class="agency container centered-text">Site Created by <a href="http://502mediagroup.com" rel="nofollow">502 Media Group</a></div> #}
</footer>
<div class="sticky-maps">
	<div class="tab" id="sticky-maps-toggle">Maps</div>
	<div class="wrapper">
		<a href="/maps/" class="link-wrapper">
			{# <div class="circle"></div> #}
			<img src="{{ theme.link }}/static/images/icons/bike-map.png" class="circle">
			<div class="label">Bike Routes</div>
		</a>
		<a href="/maps/" class="link-wrapper">
			<img src="{{ theme.link }}/static/images/icons/park-map.png" class="circle">
			<div class="label">Parks</div>
		</a>
		<a href="/maps/" class="link-wrapper">
			<img src="{{ theme.link }}/static/images/icons/parking-map.png" class="circle">
			<div class="label">Parking</div>
		</a>
	</div>
</div>