{% extends "base.twig" %}

{% block content %}
	<div class="home-hero-slider">
		<div class="image-slider">
			{% for slide in post.get_field('home_slides') %}
				<div class="slide" style="background-image: url({{ slide.image }});"></div>
			{% endfor %}
		</div>
		<div class="banner-slider">
			{% for slide in post.get_field('home_slides') %}
				<div class="slide">{{ slide.text }}</div>
			{% endfor %}
		</div>
	</div>
	<div class="home-intro container">
		{% if post.get_field('cta_live') and post.get_field('cta_expiration_date') >= today_ymd %}
			<!-- Temporary Call to Action -->
			<h2 class="centered-text">{{ post.get_field('cta_title') }}</h2>
			<div class="content give-padding centered-text">
				<p>{{ post.get_field('cta_paragraph') }}</p>
				<a class="button" href="{{ post.get_field('cta_button_link') }}">{{ post.get_field('cta_button_text') }}</a>
			</div>
			<img class="cta-image" src="{{ TimberImage( post.get_field('cta_image') ).src('large') }}" />
		{% else %}
			<div class="content give-padding">
				<h2 class="section-title">Something for Everyone</h2>
				<p>{{ post.intro_paragraph }}</p>
			</div>
			<div class="icons-wrapper">
				<div class="icons give-padding">
					<div class="icon"><a href="/categories/eat-drink/" class="tooltip-triangle" data-tooltip="Eat &amp; Drink"><img src="{{ theme.link }}/static/images/icons/eat-drink.png" /></a></div>
					<div class="icon"><a href="/categories/health-wellness/" class="tooltip-triangle" data-tooltip="Health &amp; Wellness"><img src="{{ theme.link }}/static/images/icons/health-wellness.png" /></a></div>
					<div class="icon"><a href="/categories/meet/" class="tooltip-triangle" data-tooltip="Meet"><img src="{{ theme.link }}/static/images/icons/meet.png" /></a></div>
					<div class="icon"><a href="/categories/play/" class="tooltip-triangle" data-tooltip="Play"><img src="{{ theme.link }}/static/images/icons/play.png" /></a></div>
					<div class="icon"><a href="/categories/stay/" class="tooltip-triangle" data-tooltip="Stay"><img src="{{ theme.link }}/static/images/icons/stay.png" /></a></div>
					<div class="icon"><a href="/categories/services/" class="tooltip-triangle" data-tooltip="Services"><img src="{{ theme.link }}/static/images/icons/services.png" /></a></div>
					<div class="icon"><a href="/categories/shop/" class="tooltip-triangle" data-tooltip="Shop"><img src="{{ theme.link }}/static/images/icons/shop.png" /></a></div>
				</div>
			</div>
		{% endif %}
	</div>
	<div class="home-featured-events">
		<div class="container">
			<h3 class="section-title"><span>Upcoming Events</span></h3>
			<div class="cards">
				{% for event in events %}
					<div class="card" style="background-image: url('{{ event.thumbnail.src('large') }}')">
						<div class="info">
							<div class="title">{{ event.title }}</div>
							<div class="content">
								<p><strong>Date:</strong> <br>
									{{ event.event_dates }}
								</p>

								<p><strong>Time:</strong> <br>
									{% if event.is_all_day_event %}
										All Day Event
									{% else %}
										{{ event.event_times }}
									{% endif %}
								</p>
								{% if event.event_location %}
									<p><strong>Location:</strong> <br>
										{{ event.event_location }}
									</p>
								{% endif %}
							</div>
							<div class="button-wrap">
								<button class="toggle-card white small">Show More</button>
								<a href="{{ event.link }}" class="button white small event-link">View Event</a>
							</div>
						</div>
					</div>
				{% endfor %}
				{% if events is empty %}
					<p>Sorry, there are no events at this time.</p>
				{% endif %}
			</div>{# cards #}
		</div>
	</div>

	<div class="home-featured-businesses">
		<div class="container">
			<h3 class="section-title"><span>Featured Businesses &amp; Properties</span></h3>
			<div class="cards">
				{% for business in businesses %}
					<div class="card" style="background-image: url('{{ TimberImage(business.get_field('logo')).src('large') }}')">
						<div class="info">
							<div class="title">{{ business.title }}</div>
							<p class="content">{{ business.get_preview(30, false, false) }}</p>
							<div class="button-wrap">
								<button class="toggle-card white small">Show More</button>
								<a href="{{ business.link }}" class="button white small business-link">View</a>
							</div>
						</div>
					</div>
				{% endfor %}
				{% for prop in property %}
					<div class="card" style="background-image: url('{{ TimberImage( prop.thumbnail ).src('large') }}')">
						<div class="info">
							<div class="title">{{ prop.title }}</div>
							<p class="content">{{ prop.get_preview(30, false, false) }}</p>
							<div class="button-wrap">
								<button class="toggle-card white small">Show More</button>
								<a href="{{ prop.link }}" class="button white small business-link">View</a>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="shop-eat-stay container">
		<div class="fotn-logo centered-text">
			{# <p><img src="{{ theme.link }}/static/images/fotn-logo.png" /></p> #}
			<h2 class="section-title">Friends of the Neighborhood</h2>
			<p class="section-title">Associate Membership Program</p>
			<p><a href="{{ TimberPost(home_id).get_field('fotn_link') }}" class="button">Learn More</a></p>
		</div>
	</div>
{# 	<div class="home-call-to-actions">
		<div class="cta">
			<div class="icon"><a href="#"><img src="{{ theme.link }}/static/images/icons/mobile-shop.png" /></a></div>
			<a href="#" class="title">Shop</a>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua.</p>
		</div>
		<div class="cta">
			<div class="icon"><a href="#"><img src="{{ theme.link }}/static/images/icons/sign-open.png" /></a></div>
			<a href="#" class="title">Stay</a>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua.</p>
		</div>
		<div class="cta">
			<div class="icon"><a href="#"><img src="{{ theme.link }}/static/images/icons/label-tag.png" /></a></div>
			<a href="#" class="title">East &amp; Drink</a>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua.</p>
		</div>
	</div> #}
{% endblock %}