<header id="header" class="header"><!-- #header open -->

	<div class="container give-padding logo-social">
		<div class="logo" role="banner">
			<a class="logo-link" href="{{site.url}}" rel="home"><span class="screen-reader-text">{{ site.title }}</span></a>
		</div>
		<div class="social">
			<a href="https://www.facebook.com/Downtown-Manhattan-Inc-117350023923/" target="_blank" class="link"><span class="fa fa-facebook"></span></a>
			<a href="https://twitter.com/downtownmhk" target="_blank" class="link"><span class="fa fa-twitter"></span></a>
			<form action="/" class="search-form">
				<input type="text" name="s" placeholder="Search..." class="search-query" />
				<input type="submit" value="Go">
			</form>
		</div>
	</div>
	<nav id="nav-main" role="navigation" class="give-padding">
		{# Menu renderer goes here #}
		<div class="container">
			{# {% include "menu.twig" %} #}
			{{ function('dmi_render_primary_menu') }}
		</div>
	</nav><!-- #nav -->
</header><!-- #header close -->