{% extends "base.twig" %}

{% block content %}
	<h1 class="container--small h2">{{ title }}</h1>
	{% for post in posts %}
		{% include ['tease.twig'] %}
	{% endfor %}
	{% if posts is empty %}
		<p class="container--small">Sorry, no results were found that match your search criteria.</p>
	{% endif %}
	{% include "pagination.twig" %}
{% endblock %}