{% extends "base.twig" %}

{% block content %}
	<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
		<h1 class="job-title">{{ post.title }}</h1>
		<div class="job-details content-wrapper">
			<div class="job-about">
				{{ post.content }}
			</div>
		</div>
	</article>
{% endblock %}