{% extends "base.twig" %}

{% block content %}
	<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
		<h1 class="realestate-title">{{ post.title }}</h1>
		<div class="realestate-details content-wrapper">
			<div class="realestate-about">
				{{ post.content }}
			</div>
		</div>
	</article>
{% endblock %}