<article class="tease tease-{{post.post_type}} article-wrapper" id="tease-{{post.ID}}">
		<h2 class="h2"><a href="{{post.link}}">{{post.title}} <br><small>{{post.job_title}}</small></a></h2>
		<div class="business-terms">
			Posted on: {{ post.date }}
		</div>
</article>