<article class="tease tease-{{post.post_type}} article-wrapper" id="tease-{{post.ID}}">
		<h2 class="h2"><a href="{{post.link}}">{{post.title}}</a></h2>
		<div class="business-terms">
			{% for term in post.terms %}
				<a href="{{ term.link }}">{{ term.name }}</a>
				{% if not loop.last %}
					{# ,&nbsp; #}
				{% endif %}
			{% endfor %}
		</div>
</article>