.business-logo-wrapper {
	background: $white;
	padding-bottom: 4em;
	padding-top: 4em;
	margin-top: -4em;
}

.business-logo {
	@include container;
	// margin-bottom: 4em;

	img {
		max-width: 20em;
		margin: 0 auto;
		padding: 0;
		display: block;
		padding: 1em;
	}
}

.business-title, .job-title, .realestate-title {
	padding: 0em 1em;
	text-align: left;
	font-size: 2.5em;
	margin: 0;
	color: $white;
	background: $dark-green;
	@include container;
	max-width: 65rem;
	margin-top: -1em;
}

.single-business .post-type-business, .single-job .post-type-job, .single-realestate .post-type-realestate {
	padding-bottom: 4em;
	border-top: .5em solid $light-blue;
	background: url('static/images/coles.jpg');
	background-size: cover;
	background-position: center center;
}

.single-job .post-type-job, .single-realestate .post-type-realestate {
	border-top: none;
	padding-top: 8em;
	margin-top: -4em;

	.job-about, .realestate-about {
		width: 100%;
	}
}

.tease-job .job-thumbnail {
	max-width: 50px;
	margin-right: 1rem;
}

.business-details, .job-details, .realestate-details {
	@include container;
	max-width: 60rem;
	margin: 0 auto;
	background: $light-blue;
	padding: 2em;
	color: $white;

	.details-title {
		font-family: $font-heading;
		// font-weight: bold;
		border-bottom: 1px solid $white;
		width: 98%;
		margin-bottom: .5em;
		font-size: 1.25em;
	}

	a {
		color: $white;
	}
}

.business-about, .job-about, .realestate-about {
	@include mq( $tablet){
		@include span(5);
	}
}

.three-columns {
	@include mq( $tablet){
		@include span(3);
	}
}

.business-map {
	@include mq( $tablet){
		@include span(last 4);
	}
}

.business-hours {
	.time {
		margin-bottom: 1em;
	}
}

.business-contact {
	.fa {
		text-decoration: none;
		font-size: 1.25em;
	}

	.website {
		word-break: break-all;
	}

	.social-media-links {
		margin-top: 1em;
	}
}

.tax-business_category .tease.tease-business, .tease.tease-job, .tease.tease-realestate {
	padding: .5em .25em;
	border: none;
	box-shadow: none;
	border-bottom: 2px solid $black;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;

	@include mq($tablet){
		flex-wrap: nowrap;
	}

	+ .tease {
		margin-top: 1em;
	}

	.h2 {
		margin: 0;
		flex: 1 0 auto;
		font-size: 1.5em;
		line-height: 1;

		@include mq($tablet){
			width: 75%;
		}
		
		a {
			text-decoration: none;
			&:hover {
				color: $light-blue;
			}
		}
	}

	.business-terms {
		width: 100%;
		@include mq($tablet){
			width: 25%;
			text-align: right;
		}

		a {
			font-size: 75%;
			background: #ddd;
			padding: 4px;
			border-radius: 6px;
			text-decoration: none;
			display: inline-block;
			margin: 1px 2px;

			&:hover {
				background: #ccc;
			}
		}
	}
}
.business-cat-title {
	background: $dark-green;
	line-height: 1;
	color: $white;
	padding: .25em .5em;	
	margin: 0 auto;
	max-width: 50rem;
	box-shadow: 0 2rem 1rem -1rem rgba($black, .5);
	margin-bottom: 2rem;
}

.business-cat-hero {
	height: 300px;
	width: 100%;
	background-size: cover;
	background-position: center center;
	margin-top: -3rem;
	margin-bottom: -3.5rem;
	border-bottom: .5em solid $light-blue;
}

.business-cards {
	justify-content: space-around;

	.card {
		margin-bottom: 2rem;
	}

	.extra-block.card {
		align-items: center;
		justify-content: center;
		background: none;
	}
}