@mixin button {
	display: inline-block;
	border-radius: 0;
	color: $dark-green;
	border: 1px solid $dark-green;
	line-height: 1;
	background: transparent;
	padding: .8em 1em;
	text-transform: uppercase;
	box-shadow: none;
	-webkit-appearance: none;
	font-family: $font-heading;
	margin: 0 0 1.5rem;
	letter-spacing: 2px;
	transition: all 200ms linear;
	text-decoration: none;
	// text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);

	&:hover, &:active, &:focus {
		cursor: pointer;
		background: $dark-green;
		color: $white;
		// box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
	}

	&.large {
		font-size: 1.25em;
	}

	&.small {
		font-size: .75em;
	}

	&.white {
		color: $white;
		border-color: $white;

		&:hover, &:active, &:focus {
			color: $dark-green;
			background: $white;
		}
	}
}

// Separate everything so IE will play nice. ¯\_(ツ)_/¯
.button, a.button {
	@include button;
}

input[type="button"], input[type="reset"], input[type="submit"] {
	@include button;
}

button {
	@include button;
}