// Full width footer container
#footer {
	background: $black;
	color: $white;
	padding-top: 4em;
	padding-bottom: 1em;

	a {
		color: $white;
		text-decoration: none;
	}

	.footer-logo {
		@include span(12);

		@include mq($mobile){
			@include span(6);
			padding-right: 1em;
		}

		@include mq($tablet){
			@include span(4);
		}

		@include mq(1000px){
			@include span(2);
		}

		img {
			display: block;
			width: 100%;
			max-width: 200px;
		}

	}

	.footer-contact {
		@include span(12);
		margin-top: 2em;

		@include mq($mobile){
			margin-top: 0;
			@include span(6 last);
			border-left: 1px solid $white;
			padding-left: 2em;
		}

		@include mq($tablet){
			@include span(3);
		}

		.company {
			font-weight: 700;
		}

		address {
			font-style: normal;
		}
	}

	.social {
		margin-top: .5em;

		.link + .link {
			margin-left: 1em;
		}

		.fa {
			width: 1.5em;
			height: 1.5em;
			text-align: center;
			background: $white;
			color: $black;
			position: relative;
			line-height: 1.5em;

			&:before {
				
			}
		}

		.fa-facebook:before {
			position: relative;
			top: 2px;
			left: 2px;
			font-size: 18px;
		}
	}
}

.footer-org-photos {
	background: $dark-green;
	width: 100%;
	padding: 4em 1em;
	
	.org-photos-container {
		display: flex;
		align-items: center;
		width: 100%;
		justify-content: space-around;
		flex-direction: column;
		flex-wrap: wrap;

		@include mq($tablet){
			flex-direction: row;
			flex-wrap: nowrap;
		}
	}

	.spacer {
		width: 1px;
		display: inline-block;
		background: $white;
		height: 8em;
	}

	img {
		margin: 2em 0;
		@include mq($tablet){
			width: 75%;
		}
	}

	.imax-logo {
		@include mq($tablet){
			width: 55%;
		}
	}
}

.footer-call-to-actions {
	color: $white;
	display: flex;
	align-items: stretch;
	flex-direction: column;

	@include mq($tablet){
		flex-direction: row;
	}
	
	.column {
		flex: 0 0 50%;
		padding-top: 2em;
		padding-bottom: 2em;

		@include mq($tablet){
			flex-direction: row;
			width: 50%;
		}
	}

	.inside-wrap {
		width: 100%;
		padding-left: 1em;
		padding-right: 1em;
		
		@include mq($tablet){
			max-width: $container-width / 2;
		}
	}

	.title {
		font-size: 1.5em;
		line-height: 1.5;
		margin-bottom: .5em;
	}

	.newsletter {
		background: $light-blue;

		.inside-wrap {
			@include mq($tablet){
				float: right;
			}
		}

		.gform_wrapper form.gf_simple_horizontal div.gform_body {
			width: 100%;

			@include mq(641px){
				max-width: 72%;
			}

			.gfield {
				width: 100% !important;
				padding-right: 0;

				input {
					line-height: 1.75em;
				}
			}
		}

		.gform_footer {
			@include mq(641px){
				max-width: 23%;
			}
		}

		.gform_button {
			color: $white;
			border-color: $white;

			&:hover, &:active, &:focus {
				color: $dark-green;
				background: $white;
			}
		}
	}

	.visitors-guide {
		// @include span(50% inside);
		background: $dark-green;
	}
}

.footer-helpful-links {
	clear: both;
	padding: 2em 0;
	@include mq($tablet){
		float: right;
		clear: none;
		padding: 0;
	}

	.helpful-links-menu-title {
		font-weight: 700;
	}

	ul.menu {
		list-style: none;
		margin: 0;
		padding: 0;
	}
}

// Agency Credit
.agency {
	margin-top: 2em;
}

.sticky-maps {
	background: $light-green;
	color: $white;
	position: fixed;
	top: 50vh;
	left: 0;
	padding: 1em 1em;
	transform: translateX(-100%);
	transition: all 200ms ease;
	width: 8em;
	z-index: 100;

	@include mq($tablet){
	//	top: 20vh;
	}

	&.open {
		top: 20vh;
		transform: translateX(0);
	}

	.tab {
		position: absolute;
		left: 5.25em;
		top: 1em;
		// text-transform: uppercase;
		font-family: $font-heading;
		letter-spacing: 2px;
		font-size: 1.25em;
		transform: rotate(90deg);
		background: $light-green;
		// background: orange;
		padding: .25em .65em .2em;
		cursor: pointer;
	}
	
	.link-wrapper {
		display: block;
		text-align: center;
		text-decoration: none;
		color: $white;

		+ .link-wrapper {
			margin-top: 1em;
		}
	}

	.circle {
		display: block;
		text-decoration: none;
		// border: 1px solid $black;
		width: 4em;
		height: 4em;
		background: $white;
		border-radius: 50%;
		margin: 0 auto;
	}

	.label {

	}
}

.shop-eat-stay {
	padding: 4em 1em;

	.four-columns {
		text-align: center;
	}

	.icon-logo {
		max-width: 5em;
		margin: 0 auto;

		img {
			display: block;
		}
	}
	
	.section-title {
		font-size: 2em;
		font-family: $font-heading;

		a {
			text-decoration: none;
			color: $dark-green;
		}
	}

	.section-description {
		max-width: 90%;
		margin: 0 auto;
	}
}