label.select-label {
	position: relative;

	&:after {
		content: '\f0d7';
		font-family: "FontAwesome", sans-serif;
		position: absolute;
		right: 1em;
		top: 50%;
		color: $white;
		transform: translateY(-50%);
	}

	select {
		-webkit-appearance: none;
		-moz-appearance: none;
		-o-appearance: none;
		appearance: none;
		border: 0;
		background: $light-red;
		background: linear-gradient( 145deg, $light-red, $darker-red );
		color: $white;
		padding: 1em 4em 1em 2em;
		border-radius: 100px;
		width: 100%;
	}
}