$susy: (
  flow: ltr,
  math: fluid,
  output: float,
  gutter-position: after,
  container: 1200px,
  container-position: center,
  columns: 12,
  gutters: .25,
  column-width: false,
  global-box-sizing: border-box,
  last-flow: to,
  debug: (
	image: hide,
	color: rgba(#66f, .25),
	output: background,
	toggle: top right,
  ),
  use-custom: (
	background-image: true,
	background-options: false,
	box-sizing: true,
	clearfix: false,
	rem: true,
  )
);

@mixin clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}
.clearfix {
	@include clearfix;
}


.container {
	@include container;
}

.container--small {
	@include container;
	max-width: 50rem;
}
.full-width {
	margin-left: -600em;
	margin-right: -600em;
	padding-left: 600em;
	padding-right: 600em;
}

.four-columns {
	@include mq($tablet){
		@include span(4);
	}
}
.four-columns:last-child {
	@include mq($tablet){
		@include span(last 4);
	}
}