#header {
	padding: 1em 0;

	.logo-social {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.social {
		flex: 1;
		text-align: right;

		.fa {
			margin: 0 .5em;
			padding: .25em;
		}
	}

	.logo {
		display: block;
		background-image: url('static/images/logo-black.png');
		background-repeat: no-repeat;
		background-size: contain;
		position: relative;
		height: 6em;
		max-width: 12em;
		margin-bottom: 2em;
		margin-top: 2em;
		flex: 1 1 100%;

		&-link {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			display: block;
			border: none;
		}
	}

	#menu-toggle {
		display: block;
		margin-left: auto;
		background: none;
		font-size: 1.5em;
		padding: 0;
		border-radius: 0;
		margin: 0 0 .25em auto;
		box-shadow: none;
		@include mq(860px){
			display: none;
		}
	} // #menu-toggle

	#nav-main {
		@include clearfix;
		background: $black;
		color: $white;
		border-bottom: .5em solid $light-blue;
		position: relative;
		z-index: 10;
		margin-bottom: 2em;
		
		.toggle-sub-menu {
			margin: 0;
			padding: 0;
			border: 1px solid $light-blue;
			padding: 0 .25em;
			margin-left: .25em;
			outline: none;

			&:hover {
				background: transparent;
			}

			&:after {
				content: '\f0d7';
				display: inline;
				color: $light-blue;
				font-family: 'FontAwesome';
				left: 1px;
				position: relative;
			}

			&:active, &:focus {
				.sub-menu-wrap {
					opacity: 1;
					transform: scaleY(1);
				}
			}
		}

		ul {
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				display: inline-block;
				margin-right: 1em;

				> .sub-menu {
					display: none;
				}

				&:hover, &.open {
					.sub-menu-wrap {
						opacity: 1;
						transform: scaleY(1);
					}
				}

				a {
					display: inline-block;
					color: $light-blue;
					text-decoration: none;
					
					padding: .5em .5em;

					@include mq($mobile){
						font-size: 1.25em;
					}
				}
			}
		}

		.sub-menu-wrap {
			opacity: 0;
			position: absolute;
			top: 100%;
			left: 0;
			background: $light-blue;
			width: 100vw;
			padding: 0 1em;
			transition: all .125s linear;
			transform: scaleY(0);
			z-index: 5;

			@include clearfix;

			> .sub-menu {
				display: block;
				@include container;
			}

			li {
				float: left;
				white-space: nowrap;
				@include clearfix;
			}

			a {
				color: $white;
				white-space: nowrap;
			}
			
		}
	
	} // #nav-main

} // #header

.search-form {
	display: inline-block;

	input[type="submit"] {
		padding: .35em 1em;
		vertical-align: top;
	}
}