.home {
	
	#header {

	} // #header

	#content {

	} // #content

	#footer {
	
	} // #footer

} // .home

.home-hero-slider {
	position: relative;
	margin-bottom: 4em;
	margin-top: -3em;

	.image-slider {
		border-bottom: 4px solid $light-blue;

		.slide {
			height: 100vw;
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;

			@include mq($tablet){
				height: 50vw;
			}

			@include mq($desktop){
				height: 50vh;
			}
		}
	}

	.banner-slider {
		@include container;
		color: $white;
		text-align: center;
		font-size: 2em;
		font-family: $font-heading;
		margin-top: -.85em;
		// white-space: nowrap;
		
		.slide {
			background: $dark-green;
			line-height: 1;
			padding: .25em 1em;
		}

		@include mq($tablet){
			font-size: 4em;
		}

	}
}

.home-intro {
	color: $dark-green;
	margin-top: 8em;
	margin-bottom: 4em;

	.cta-image {
		@include span(last 6);
	}

	.content {

		@include mq($tablet){
			@include span(6);
		}
	}

	.section-title {
		margin-bottom: 1rem;
	}
	
	.icons-wrapper {
		@include mq($tablet){
			@include span(6 last);
		}
	}
	.icons {
		// display: flex;
		// flex-wrap: wrap;
		// justify-content: space-around;
		display: block;
		text-align: center;
		// max-width: 330px;
		margin: 0 auto;
	}

	.icon {
		display: inline-block;
		width: 18%;
		margin: 0 1em 1em;

		> a {
			display: block;
		}
		
		img {
			display: block;
			margin: 0 auto;
			// background: orange;
			width: 4em;
			height: 4em;
			box-shadow: 0 .25em .5em 0 $black;
			border-radius: 50%;
		}
	}
}

.home-featured-events {
	padding: 4em 1em;

	.section-title {
		font-family: $font-heading;
		font-size: 2em;
		// padding: .25em .5em;
		// text-align: center;
		// background: $white;
		border-bottom: 4px solid $dark-green;
		color: $white;
		// font-weight: 700;
		letter-spacing: 3px;
		line-height: 1;
		box-shadow: 0 1rem 1rem -1rem rgba($black, .5);

		span {
			display: inline-block;
			background: $dark-green;
			padding: .25em .5em;
			min-width: 40%;
		}
	}

	.cards.slick-slider {
		display: block;
	}
	.card {
		width: 30%;
		margin-right: 1em;
		margin-left: 1em;

		.info .button.event-link {
			margin-left: 2em;
		}
	}

	.slick-list {
		// overflow: visible;
	/*
		&:before {
			content: '';
			background: url('static/images/brickwall.png');
			position: absolute;
			left: 0;
			top: 0;
			width: 100vw;
			height: 100%;
			transform-origin: left center;
			transform: rotate(180deg);
			z-index: 20;
		}

		&:after {
			content: '';
			background: linear-gradient( to right, url('static/images/brickwall.png') 80%, transparent );
			position: absolute;
			right: 0;
			top: 0;
			width: calc(100vw - #{$container-width});
			height: 100%;
			transform-origin: right center;
			transform: rotate(180deg);
			z-index: 20;
		}
	*/
	}

	.slick-arrow {
		z-index: 30;

		&:before {
			font-size: 48px;
			font-family: 'FontAwesome';
			color: $light-blue;
		}

		&.slick-next {
			right: -1rem;
			&:before {
				content: '\f105';
			}
		}

		&.slick-prev {
			left: -1rem;
			&:before {
				content: '\f104';
			}
		}
	}
}

.home-featured-businesses {
	position: relative;
	padding: 6em 1em;
	background: url("static/images/5th-street.jpg");
	background-size: cover;
	background-position: center center;

	&:before {
		content: '';
		background: rgba($black, .8);
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 0;
	}

	> * {
		position: relative;
		z-index: 1;
	}

	.section-title {
		font-family: $font-heading;
		font-size: 2em;
		// padding: .25em .5em;
		// text-align: center;
		// background: $white;
		border-bottom: 4px solid $light-blue;
		color: $white;
		// font-weight: 700;
		letter-spacing: 3px;
		line-height: 1;
		box-shadow: 0 1rem 1rem -1rem rgba($black, .5);

		span {
			display: inline-block;
			background: $light-blue;
			padding: .25em .5em;
			min-width: 40%;
		}
	}
}

.home-featured-businesses .cards .card {
	background-position: top center;
	background-size: 65%;
}

.cards {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	.card {
		width: 100%;
		flex: 1 0 100%;
		min-height: 20em;
		background: $white;
		display: flex;
		align-items: flex-end;
		color: $white;
		background-position: top center;
		background-size: 65%;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;

		+ .card {
			margin-top: 2em;
		}

		@include mq($tablet){
			max-width: 30%;
			flex: 1 0 30%; // Safari

			+ .card {
				margin-top: 0;
			}
		}

		&.active {
			align-items: stretch;

			.info .content {
				display: block;
			}
		}

		.info {
			width: 100%;
			background: rgba($light-blue, .9);
			padding: .5em;
			display: flex;
			flex-direction: column;

			.title {
				font-family: $font-heading;
				font-size: 1.5em;
				margin-bottom: .25em;
			}

			.content {
				flex: 1 0 auto;
				width: 100%;
				display: none;
			}

			button, .button {
				margin: 0;
				vertical-align: bottom;
				display: inline-block;
			}

			.button.business-link {
				margin-left: 2em;
			}
		}
	}

	.button-wrap {
		vertical-align: bottom;
	}
}

.home-call-to-actions {
	@include container;
	margin-top: 4em;
	margin-bottom: 4em;

	.cta {
		// @include span(4);
		padding: 0 2em;
		text-align: center;
		color: $dark-green;
		@include clearfix;

		+ .cta {
			margin-top: 2em;

			@include mq($tablet){
				margin-top: 0;
			}
		}

		@include mq($tablet){
			@include span(4);

			&:last-child {
				@include span(4 last);
			}
		}

		.icon img {
			// background: orange;
			width: 4em;
			height: 4em;
		}

		.title {
			font-size: 1.5em;
			font-family: $font-heading;
			text-decoration: none;
			border: none;
			color: $dark-green;
			display: block;
		}
	}			
}

.fotn-logo {
	// max-width: 24rem;
	margin: 0 auto;

	h2.section-title {
		font-size: 3rem;
	}
}