body.search {
	.tease {
		border: 1px solid #DEDEDE;
		box-shadow: 0 4px 8px rgba(33, 34, 36, 0.36);
		padding: 1em;
		display: block;
		background: $white;

		.h2 {
			font-size: 1.5em;
			margin-bottom: 1em;
			line-height: 1.5;
			width: 100%;

			a {
				text-decoration: none;
			}
		}

		+ .tease {
			margin-top: 4rem;
		}
	}
}