table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	max-width: 100%;

	&.scroll {
		display: block;
		overflow-x: scroll;
		position: relative;
	}

	thead, tfoot {
		background: $light-grey;
	}

	thead, tbody, tfoot {
		border: 1px solid $light-grey;
	}

	th {
		font-weight: bold;
		text-align: left;
	}

	th, td {
		padding: 1em;
		border: none;
	}

	tr:nth-child(even){
		background: $light-grey;
	}
}

.table-scroll {
	position: relative;
	margin-top: 1.5em;
	margin-bottom: 1.5em;

	&:after, &:before {
		content: 'Scroll for more information \f105';
		font-family: 'FontAwesome', $font-body;
		position: absolute;
		right: 0;
	}

	&:after {
		bottom: 0;
		transform: translateY(100%);
	}

	&:before {
		top: 0;
		transform: translateY(-100%);
	}
}