.article-wrapper {
	max-width: 50em;
	margin: 0 auto;
  padding: 0 1em;
	@include clearfix;
}

blockquote {
	border-left: 4px solid $dark-grey;
	background: $light-grey;
	margin: 0;
	padding: 1.5rem 2rem 0;
	line-height: 1.5;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	@include clearfix;
}

p {
	margin: auto auto 1.5rem;
}

a {
	color: $black;
	// border-bottom: 1px solid $light-grey;
	text-decoration: underline;
	transition: all 200ms linear;

	&:hover {
    color: $dark-grey;
		// border-bottom: 4px solid $light-grey;
	}

  &.imgwrap {
    border: none;
  }
}

ul,
ol {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

ul li,
ol li {
  line-height: 1.5;
}

ul ul,
ol ul,
ul ol,
ol ol {
  margin-top: 0;
  margin-bottom: 0;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1.5rem;
  line-height: 1.5rem;
  margin-top: 0;
  font-weight: 400;
}
h1, .h1 {
  font-size: 4.242rem;
  line-height: 4.5rem;
  margin-bottom: 2rem;
}
h2, .h2 {
  font-size: 2.828rem;
  line-height: 3rem;
  margin-bottom: 2rem;
}
h3, .h3 {
  font-size: 1.414rem;
}
h4, h5, h6 {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}
/* Code blocks */
code {
  vertical-align: bottom;
}
/* Hug the block below you */
.hug {
  margin-bottom: 0;
}