$light-red: #fe0000;
$darker-red: #e90202;
$red: #ea0a0b;
$black: #212224;
$dark-grey: #333333;
$purple: #4e2973;

$light-blue: #48b4d1;
$light-green: #97be54;
$dark-green: #305b62;

$white: #FFF;
$light-grey: #DEDEDE;

$mobile: 340px;
$tablet: 750px;
$desktop: 960px;
$huge: 1200px;

$container-width: 1200px;


$font-heading: 'Pridi', Georgia, sans-serif;
$font-body: 'Noto Sans', Helvetica, Arial, sans-serif;