/**
 * Theme Name: DMI Theme
 * Author: 502 Media Group
 * Author URI: http://502mediagroup.com/
 * Version: 1.0
 */
@import "reset";
@import "mq";
@import "susy";
* {
	box-sizing: border-box;
}

@import "variables";
@import "grid";
@import "slick";
@import "slick-theme";
@import "forms";
@import "buttons";
@import "tables";
@import "utilities";

html, body {
	font-size: 16px;
	line-height: 1.5;
	font-family: $font-body;
	overflow-x: hidden;
	color: $dark-green;
}

body {
	background: url('static/images/brickwall.png');
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-heading;
}

img {
	max-width: 100%;
	height: auto;
}

@import "typography";
@import "header";
@import "footer";
@import "business";
@import "tinymce";
@import "blog";
@import "comments";
@import "home";
@import "events";
@import "search";